<section class="column-right">
			<div class="group-2">
				<div class="column-right-title">
					<h1>Need help?</h1>
				</div>
				<div class="column-right-content">
					<a class="location" href="#">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<div class="location-text">121 Kim Nguu, Hai Ba Trung Disctrict, Hanoi</div>
					</a>
					<a class="email" href="#">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<div class="email-text">hello@servisense.vn</div>
					</a>
					<a class="phone" href="#">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<div class="phone-text">(+84) 964 936 939</div>
					</a>
				</div>
			</div>
		</section>