{% extends 'base_template.html' %}
{% block title %}AutoX - About{% endblock title %}

{% block content %}
<article class="container about-panel">
	<section class="about-content column-left">
		<h1 class="abt-page-title">About Us</h1>
		<div class="content">
			<div class="post-entry ">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;<em>Auto <span class="important">X</span></em>, been fuelled by passionate motoring junkies since September 2006! Our reviews meet the highest standards of editorial quality &amp; integrity. Our readers and fans rate the quality of our content among the best in the motoring world globally. Our vision is to be the most influential, informative and entertaining automotive resource in India. Our mission is to put our fans in the driver’s seat of the most exciting industry in the country, and in doing so to find nuances in a story that no one else sees, to uncover a new perspective for our readers and fans. We are bound not only by a passion for what we do, but also by the values of transparency and objectivity in everything we do. Everything we do is driven by: <em>Heart. Soul. Passion. Emotion.</em>Comnet Publishers Pvt. Ltd. (an ISO 9001:2008 &amp; 14001:2004 certified company) is a part of the leading 
					<a href="#" class="important" target="_blank">Exhibitions India Group</a> - a trade promotion group established in 1987.
				</p>

				<h2 class="meet-team">MEET THE TEAM</h2>

				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="DHRUV BEHL" class="alignleft lazyloaded" data-original="https://static.autox.com/uploads/2017/12/dhruv-behl-new.jpg" height="112" title="Dhruv Behl" width="100" src="https://static.autox.com/uploads/2017/12/dhruv-behl-new.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>DHRUV BEHL</strong>
						</span>
						<span class="person-description">
							<p>Dhruv founded <em>autoX</em> in 2006 with little clue of what lay ahead. Driven by a passion for anything on four wheels and a stubborn will to succeed, he moulded a team as pig-headed as him to create a medium that could adequately communicate the magnificence of the automobile to an unsuspecting audience. Today, autoX stands for independence, candidness, and objectivity – but, most of all, for heart &amp; soul. And that’s one ingredient that has to come from within. Be warned, however, it is infectious!</p>
						</span>
					</div>
				</div>

				<div class="line"></div>

				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="ANIRUDH SUNIL KUMAR" class="alignleft lazyloaded" height="112" title="ANIRUDH SUNIL KUMAR" width="100" src="https://static.autox.com/uploads/magazine-thumbs/Anirudh-Sunil-Kumar.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>ANIRUDH SUNIL KUMAR</strong>
						</span>
						<span class="person-description">
							<p>Anirudh is a runaway from the bustling newsrooms and screaming news anchors at prime time. He found his way into the world of automobiles when he saw an auto journalist carving corners on a CBZ with his knee down on the cover of a magazine. If he’s not busy taking screenshots of cars on Pinterest, you might catch him cursing at video games on TV.</p>
						</span>
					</div>
				</div>

				<div class="line"></div>

				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="DHRUV BEHL" class="alignleft lazyloaded" height="112" title="Dhruv Behl" width="100" src="https://static.autox.com/uploads/2017/12/ishan-new.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>ISHAN RAGHAVA</strong>
						</span>
						<span class="person-description">
							<p>Assistant Editor with autoX, Ishan has great technical and practical knowledge, and his life-long love for cars has seen him devote some of the best years of his youth to a perhaps wasteful, yet satisfying, pursuit of his obsession with automobiles. He has worked with lifestyle publishing brands as a freelance / consultant for over 10 years and as a part of the autoX team for 8 years.</p>
						</span>
					</div>
				</div>

				<div class="line"></div>

				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="SHIVANK BHATT" class="alignleft lazyloaded" height="112" title="SHIVANK BHATT" width="100" src="https://static.autox.com/uploads/2017/12/shivank_bhatt-new.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>SHIVANK BHATT</strong>
						</span>
						<span class="person-description">
							<p>Shivank joined mechanical engineering thinking it would be all about working on fancy cars and fast motorcycles. Fortunately, before reality struck, he jumped ship and started penning down his love for all things automotive to earn a living. Despite being a distressed engineer, he still has a nose for mechanics. And, given a chance, he can talk incessantly about his love for Jeremy Clarkson and MotoGP.</p>
						</span>
					</div>
				</div>

				<div class="line"></div>

				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="DIVYANK KUSHAGRA BANSAL" class="alignleft lazyloaded" height="112" title="DIVYANK KUSHAGRA BANSAL" width="100" src="https://static.autox.com/uploads/magazine-thumbs/Divyank-Bansal.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>DIVYANK KUSHAGRA BANSAL</strong>
						</span>
						<span class="person-description">
							<p>His initiation to the automotive world began at an early age, ever since he got hold of the 1994 edition of the Daily Express World Car Guide. Completely mesmerised by the spectacle of an automobile, there was no going back for him. Over the years, he has honed his skills as a capable driver and has spent plenty of time riding his brother's Kawasaki Ninja 250. After catching his big break at Jaguar Land Rover, he decided that the world of sales was not enough to satiate his hunger. As a result, he found his sojourn at autoX with other, like-minded petrolheads with an aim of instilling the same passion into fellow enthusiasts.</p>
						</span>
					</div>
				</div>

				<div class="line"></div>

				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="KARAN SINGH" class="alignleft lazyloaded" height="112" title="KARAN SINGH" width="100" src="https://static.autox.com/uploads/magazine-thumbs/Karan-Singh.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>KARAN SINGH</strong>
						</span>
						<span class="person-description">
							<p>Perhaps as much in love with the Porsche 911 as he is with sneakers (and good food), Karan claims his love for cars started before he learnt to speak, even though there is a rumour around the office that he fell asleep while attending his first ever Grand Prix! He likes to find weird quirks about cars and dedicates a fairly large space in his head for random car facts and an equally large space in his heart for cars with cool specs. He came across this career path by chance; and going by how excited he gets by new metal (four wheels or two), he’s loving every day of his journey as an automotive journalist.</p>
						</span>
					</div>
				</div>

				<div class="line"></div>
				
				<div class="person-info">
					<a href="#" class="info-group">
						<img alt="DHRUV PALIWAL" class="alignleft lazyloaded" height="112" title="DHRUV PALIWAL" width="100" src="	https://static.autox.com/uploads/magazine-thumbs/Dhruv-Paliwal.jpg">
					</a>

					<div class="content">
						<span class="person-name">
							<strong>DHRUV PALIWAL</strong>
						</span>
						<span class="person-description">
							<p>Dhruv is a sucker for speed. Show him a pair of wheels, and the first thing he’ll do is find out how fast they can go. He studied mainstream journalism, but life had other plans for him. During his first job interview, he found himself going on-and-on about his love for cars, and so the interviewer decided that he would be the perfect bloke to write about them. Apart from penning down words, Dhruv aspires to be a race car driver one day!</p>
						</span>
					</div>
				</div>
				<div class="post-bc"></div>
			</div>
		</div>
	</section>
    {% include 'help.html' %}
</article>
{% endblock content %}