@media only screen and (min-width: 3465px)
{
	.footer-support .vehicle-form {
		width: 60%;
	}

	.footer-body .contact-group {
		width: 30%;
	}

	.about-us-group {
		margin: 0 auto;
	}

	.useful-links-group {
		margin-left: auto;
	}
}

@media only screen and (max-width: 2460px)
{
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 2350px)
{
	#list-item .product-item {
	    width: 60em;
	}
}


@media only screen and (max-width: 2350px)
{
	#list-item .product-item {
	    width: 55em;
	}

	.container {
		width: 80%;
	}

	.product-name h2 {
		width: 80%;
	}

	.about-us-group {
		margin-left: 0;
		margin: 0 auto;
	}

	.useful-links-group {
		margin-left: auto;
	}

	.footer-support .container .background-image {
		width: 50%;
		margin-left: auto;
	}

	.footer-support .vehicle-form {
		width: 50%;
	}
}

@media only screen and (max-width: 1800px)
{
	.container {
		width: 95%;
	}

	.footer-support .container .background-image {
		width: 50%;
	}

	#list-item .product-item {
	    width: 60em;
	}

	.footer-support .container .background {
	    width: 70%;
	    height: 90%;
	}

	.search-form {
		width: 50%;
	}
}

@media only screen and (max-width: 1640px)
{
	#list-item .product-item {
	    width: 55em;
	}

	.background-image-login-page {
		position: unset;
	}

	.background-image-login-page .form-container {
		width: 100%;
		height: 100%;
		padding: 2em 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #80808066;
	}

	.login-form {
		border-radius: 15px;
	    backdrop-filter: blur(10px);
	    background-color: #ffbe0030;
	    overflow: unset;
	}

	.login-form .login-form-group,
	.register-form-group .register-title{
		margin-top: 2rem;
	}

	.login-logo {
		margin-bottom: 2rem;
	}

	.wp-login-form .login-username, 
	.wp-login-form .login-password, 
	.wp-register-form .register-fullname, 
	.wp-register-form .register-phone, 
	.wp-register-form .register-username, 
	.wp-register-form .register-email, 
	.wp-register-form .register-password, 
	.wp-register-form .register-confirm-password {
		background-color: #0000005e;
	}

	.wp-login-form .login-username input, 
	.wp-login-form .login-password input, 
	.wp-register-form .register-fullname input, 
	.wp-register-form .register-phone input, 
	.wp-register-form .register-username input, 
	.wp-register-form .register-email input, 
	.wp-register-form .register-password input, 
	.wp-register-form .register-confirm-password input {
		color: #fff !important;
	}

	.wp-login-form .login-username input:-webkit-autofill, 
	.wp-login-form .login-password input:-webkit-autofill, 
	.wp-register-form .register-fullname input:-webkit-autofill, 
	.wp-register-form .register-phone input:-webkit-autofill, 
	.wp-register-form .register-username input:-webkit-autofill, 
	.wp-register-form .register-email input:-webkit-autofill, 
	.wp-register-form .register-password input:-webkit-autofill, 
	.wp-register-form .register-confirm-password input:-webkit-autofill,
	.wp-login-form .login-username input:-webkit-autofill:hover, 
	.wp-login-form .login-password input:-webkit-autofill:hover, 
	.wp-register-form .register-fullname input:-webkit-autofill:hover, 
	.wp-register-form .register-phone input:-webkit-autofill:hover, 
	.wp-register-form .register-username input:-webkit-autofill:hover, 
	.wp-register-form .register-email input:-webkit-autofill:hover, 
	.wp-register-form .register-password input:-webkit-autofill:hover, 
	.wp-register-form .register-confirm-password input:-webkit-autofill:hover,
	.wp-login-form .login-username input:-webkit-autofill:focus, 
	.wp-login-form .login-password input:-webkit-autofill:focus, 
	.wp-register-form .register-fullname input:-webkit-autofill:focus, 
	.wp-register-form .register-phone input:-webkit-autofill:focus, 
	.wp-register-form .register-username input:-webkit-autofill:focus, 
	.wp-register-form .register-email input:-webkit-autofill:focus, 
	.wp-register-form .register-password input:-webkit-autofill:focus, 
	.wp-register-form .register-confirm-password input:-webkit-autofill:focus,
	.wp-login-form .login-username input:-webkit-autofill:active, 
	.wp-login-form .login-password input:-webkit-autofill:active, 
	.wp-register-form .register-fullname input:-webkit-autofill:active, 
	.wp-register-form .register-phone input:-webkit-autofill:active, 
	.wp-register-form .register-username input:-webkit-autofill:active, 
	.wp-register-form .register-email input:-webkit-autofill:active, 
	.wp-register-form .register-password input:-webkit-autofill:active, 
	.wp-register-form .register-confirm-password input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px #0000005e inset !important;
	}

	.login-form .btn-close-panel {
		margin: 1em;
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 2em;
	    height: 2em;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 100px;
	    border: 1px solid #ffffff42;
	    cursor: pointer;
	    background-color: #808080a3;
	}

	.login-form .btn-close-panel i {
		color: #fff;
	}

	.wp-login-form .regsiter-submit .button, 
	.wp-register-form .login-submit .button {
		border: 0;
	}

	.background-image-login-page {
		background-size: unset;
	}
}

@media only screen and (max-width: 1540px)
{
	#list-item .product-item {
	    width: 41rem;
	}

	.item-group-home-user__link .image-item {
		width: 15em;
    	height: 10em;
	}

	.item-group-home-user {
		height: 8rem;
	}

	.profile-container .col-left .main-profile .main-menu li {
		padding-left: 0em;
	}
}

@media only screen and (max-width: 1410px)
{
	#list-item .product-item {
	    width: 60em;
	    margin-right: 0;
	}

	.footer-support .vehicle-form {
	    width: 40%;
	}

	.footer-support .container .background-image {
	    width: 60%;
	}

	.footer-support .container .background {
	    width: 100%;
	    height: 90%;
	}

	.footer-support .container .background-image {
	    width: 40%;
	}

	.footer-support .vehicle-form {
	    width: 50%;
	}

	.seemore-logged-in {
	    margin-top: 3em;
	}

	.login-form {
		width: 40%;
	}

	.search-form {
	    width: 60%;
	}

	.more-info-line-1 > div:first-child, .more-info-line-2 > div:first-child {
	    margin-right: 4em;
	}

	.profile-container {
		flex-direction: column;
	}

	.profile-container .col-left {
		width: 100%;
	}

	.profile-container .col-right {
		width: 100%;
	    margin: 0;
	    margin-top: 3rem;
	}

	.profile-container .col-left .main-profile .avatar {
		width: 10rem;
		height: 10rem;
	}

	.profile-container .col-left .main-profile .main-menu {
		margin: 3rem 0;
	}

	.profile-container .col-left .panel-header {
		display: flex;
	}
}


@media only screen and (max-width: 1200px)
{
	.footer-bottom .social {
		display: none;
	}

	.footer-bottom .copyright {
		margin: 0;
		margin-right: auto;
	}

	.social, .footer-bottom .copyright, 
	.footer-bottom .design {
		width: unset;
	}

	.login-form {
	    width: 45%;
	}

	.more-info-line-1 > div:first-child, .more-info-line-2 > div:first-child {
	    margin-right: 1em;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .ship-code {
	    width: 50%;
	}

	.footer-content .logo a {
	    width: 20%;
	}
}

@media only screen and (max-width: 1100px)
{

	body {
		font-size: .8rem;
	}

	.footer-body .contact-group {
		width: 40%;
	}

	.footer-support .background-image {
		display: none !important;
	}

	.footer-support .container {
		justify-content: center;
	}

	.footer-support .vehicle-form {
		width: 100%;
	}

	.footer-support {
		height: 45rem;
	}

	.header-menu-right .second-menu {
		display: none;
	}

	.main-header .header-menu {
		display: none !important;
	}

	.main-header .header-menu-right {
		margin-left: auto;
		width: 10%;
	}

	.header-menu-right .btn-options {
		display: flex;
		width: 100%;
		height: 100%;
	}

	.header-menu-right .btn-options .fa-times {
		display: none;
	}

	.header-menu-right .btn-options i {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* Nav menu */
	.panel-menu {
		display: block;
	    position: fixed;
	    top: 0;
	    width: 25%;
	    height: 100vh;
	    z-index: 10;
	    background-color: white;
	    left: -60%;
	}

	.panel-menu .nav-menu {
		height: 100vh;
		overflow-y: auto;
	}

	.panel-menu .second-menu ul li a {
		line-height: unset;
		font-weight: unset;
	}
	
	.nav-line {
		width: 100%;
		margin: 0 2em;
		border: 1px solid black;
	}
	.panel-menu .nav-menu ul > li span:first-child:before {
		content: "\f090 		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.panel-menu .nav-menu .first-menu > ul > li:first-child:before {
		content: "\f015		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.panel-menu .nav-menu .first-menu > ul > li:nth-child(2):before {
		content: "\f04b		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.panel-menu .nav-menu .first-menu > ul > li:nth-child(3):before {
		content: "\f05a		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.panel-menu .nav-menu .first-menu > ul > li:nth-child(4):before {
		content: "\f09d		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.panel-menu .nav-menu .first-menu > ul > li:nth-child(5):before {
		content: "\f07a		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.panel-menu .nav-menu .first-menu > ul > li:last-child:before {
		content: "\f007		";
	    font: normal normal normal 14px/1 FontAwesome;
	}

	.nav-menu .social > div > div:first-child {
		width: auto !important;
	}

	.nav-menu .social {
		width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-top: 100%;
	    margin-left: 0;
	    bottom: 0;
	    margin-bottom: 2em;
	}

	.nav-menu .social .box-border {
	    background-color: black;
	    width: 30px;
	    height: 30px;
	}

	.nav-menu .social > div > div > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav-menu .social > div > div {
		display: flex;
	}

	.nav-menu .social .sfsi_holders {
		display: none;
	}
	.nav-menu .logout {
		margin: 0 2em;
		margin-bottom: 2em;
	}

	.nav-menu .logout a {
		text-decoration: none;
		color: #333;
	}

	.nav-menu .first-menu .sub-menu li {
		padding: unset;
		border-bottom: unset;
	}

	.nav-menu > .avatar {
		margin-top: 1em;
		margin-bottom: 4em !important;
	}

	.nav-menu .avatar {
		margin-bottom: 1em;
		display: flex;
		align-items: center;
		flex-direction: column;
		border-radius: 99px;
	}

	.nav-line {
		width: 100%;
		margin: 0 2em;
		border: 1px solid black;
	}

	.avatar-content {
    	color: green;
    	font-weight: 900;
	}

	.blank-block {
	    width: 100%;
    	height: 5rem;
	}

	.social .box-border i {
		color: #fff;
	}

	.sfcm.sfsi_wicon {
		width: 50%;
		height: 50%;
	}

	.first-menu > ul {
		flex-direction: column;
	}

	.first-menu .menu {
		width: 100%;
		height: auto;
	}

	.first-menu .menu li {
	    margin: 0 2em;
    	margin-bottom: 2em;
	}

	.first-menu .menu li > .sub-menu > ul {
		padding: 0;
	}

	.first-menu .menu li > .sub-menu > li {
		margin: 0;
		margin-top: 2em;
	}

	.first-menu .sub-menu {
		top: unset;
		left: unset;
		position: unset;
		width: 100%;
		background-color: unset;
		padding: 0;
		border: 0;
		border-radius: 0;
	}

	.first-menu .sub-menu {
		top: 0;
		left: 120%;
	}

	.text-in-slide-for-none-user {
		margin: 0 5em;
	}

	.text-header {
	    line-height: 50px;
	    word-spacing: 2px;
	    font-size: 2rem;
	}

	.text-conent {
		font-size: 1rem;
	}

	.bg-body {
		width: 100%;
	    height: 100%;
	    background-color: #00000096;
	    z-index: 5;
	    position: fixed;
	    display: none;
	}

	.go-to-top {
		display: flex;
	}

	.header-menu-right i {
		margin-left: 0;
	}

	.vehicle-form .btn {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.vehicle-form .title {
		display: flex;
		justify-content: center;
	}

	.nav-menu .avatar .avatar-container {
	    width: 10em;
	    height: 10em;
	    border-radius: 100px;
	    overflow: hidden;
	}

	.nav-menu .avatar .avatar-container img {
		width: 100%;
		height: 100%;
	}

	.social-container {
		position: relative;
	}
	/* end nav menu */

	/* Home page after login */
	.header-menu-right .avatar,
	.header-menu-right .user-name,
	.header-menu-right .fa-angle-down,
	.header-menu-right .drop-down-menu {
		display: none;
	}

	.search-form {
	    width: 65%;
	}

	.search-content {
		height: 5em;
	}

	/* About Us page */
	article.about-panel {
		flex-direction: column;
	}

	.column-left {
		width: 100%;
		margin: 0;
		padding: 0 !important;
	}

	.about-panel .about-content > h1 {
		padding-top: 1em;
	}

	.about-panel .about-content > div {
		padding: 0 3em;
	}

	.column-right {
		width: 100%;
		padding: 0;
		margin: 0;
		margin-top: 1em;
	}

	.column-right .group-2 {
		margin: 0 3em;
	}
	/* End about Us page */

	/* single product details */
	.single-product-content {
		flex-direction: column;
	}

	.column-left .header-product {
		margin: 0;
		padding: 0 3em;
	}

	.header-body .product-image {
		height: 25em;
	}

	.more-info-line-1 > div:first-child, 
	.more-info-line-2 > div:first-child {
	    margin-right: 2em;
	}

	.product-information {
	    margin-left: 3em;
	    margin-top: 0;
	}

	.product-detail > div {
		padding-right: 0;
	}

	/* end single product details */

	/* cart */
	.view-cart .cart-container-mobile {
		display: block;
	}

	.view-cart .checkout .panel-checkout .total-price {
		margin-right: 0;
	}

	.view-cart .checkout .panel-checkout {
		flex-wrap: wrap;
		justify-content: center;
	}

	.view-cart .checkout .panel-checkout form {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 1.5em;
	}

	.view-cart .list-view-cart-mobile {
		display: block;
	}

	.view-cart .list-view-cart-mobile .view-container {
		padding: 2em 0;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item {
		background-color: #fff;
		border-radius: 15px;
		width: 100%;
		margin-bottom: 1.5em;
		overflow: hidden;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .draggable {
		display: flex;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .btn-delete-cls {
		width: 0px;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item {
		padding: 1em;
		display: flex;
    	align-items: center;
    	width: 100%;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .checkbox {
		margin-right: .5em;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-info {
		margin-left: 1.5em;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .total-prices {
		margin: 0 auto;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-info > div {
		margin-bottom: 1em;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-info > div:last-child {
		margin-bottom: 0;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .price {
		margin: 0 auto;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .btn-delete-cls button  {
		height: 100%;
		width: 3em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: 0;
		background-color: #ee4d2d;
	}

	.view-cart .list-view-cart-mobile .input-quantity {
		height: 1.5em;
		width: 70%;
	}
	/* end cart */

	/* Checkout page */
	.checkout-page .product {
		display: none;
	}

	.checkout-page .product-mobile {
		display: block;
	}

	.checkout-page .product-mobile .checkout .product-item {
		display: flex;
		align-items: center;
	}

	.checkout-page .product-mobile .checkout .product-item .product-img {
		width: 8em;
		height: 6em;
	}
	.checkout-page .product-mobile .checkout .product-item .product-img img {
		width: 100%;
		height: 100%;
	}

	.checkout-page .product-mobile .checkout .product-item .product-info {
		margin-left: 1em;
		margin-right: auto;
	}

	.checkout-page .product-mobile .checkout .line {
	    background-color: #7e7d7d1f;
	    margin: 1em 0;
	}

	.checkout-page .product-mobile .checkout .line:last-child {
		display: none;
	}
	/* End checkout page */
	.order-result .order-details-body {
		display: none;
	}

	.order-result .order-details-body-mobile {
		display: flex;
		flex-direction: column;
		padding: 2em;
	}

	.order-result .order-details-body-mobile .header {
		display: flex;
		color: orange;
		align-items: center;
	}

	.order-result .order-details-body-mobile .content .box-item {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.order-result .order-details .checkout .product-img {
		width: 20%;
		margin: 0;
	}

	.order-result .order-details-body-mobile .content .box-item > div {
		margin-bottom: .5em;
	}

	.order-result .order-details-body-mobile .checkout .line {
		background-color: #80808040;
		margin: 1em 0;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-img {
		width: 20%;
	    height: 100%;
	    border-radius: 15px;
	    overflow: hidden;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-img img {
	    width: 100%;
    	height: 100%;
	}

	.order-result .order-details-body-mobile .content .box-item .product-img {
	    width: 20%;
	    height: 6em;
	    border-radius: 15px;
	    overflow: hidden;
	}

	section.payment-details .shipper-image {
		width: 40%;
	}

	.order-result .order-details-body-mobile .checkout .line:last-child {
		display: none;
	}

	.title-header .title-group {
		font-size: 2rem;
	}

	.login-form {
	    width: 60%;
	}
}

@media only screen and (max-width: 900px)
{
	.profile-container .col-right .admin table thead,
	.profile-container .col-right .wishlist table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.profile-container .col-right .admin table tr,
	.profile-container .col-right .wishlist table tr {
		border-bottom: 3px solid #ddd;
		display: block;
	}

	.profile-container .col-right .admin table td,
	.profile-container .col-right .wishlist table td {
		display: block;
		text-align: right;
		display: flex;
		align-items: center;
	}

	.profile-container .col-right .admin table td::before,
	.profile-container .col-right .wishlist table td::before {
		content: attr(data-label);
		float: left;
		white-space: nowrap;
	}
	
	.profile-container .col-right .admin tfoot,
	.profile-container .col-right .wishlist tfoot {
		display: none;
	}

	.profile-container .col-right .wishlist .panel-body .product-info {
		margin-left: auto;
	}

	.profile-container .col-right .wishlist .panel-body table tbody tr {
		height: auto;
	}

	.profile-container .col-right .wishlist .panel-body .btn-add-to-cart, 
	.profile-container .col-right .wishlist .panel-body .btn-delete-wishlist {
		margin-left: auto;
	}

	.profile-container .col-right .information .panel-body tr {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1em;
	}

	.profile-container .col-right .information .panel-body tr td {
		width: 100%;
	}

	.profile-container .col-right .information .panel-body > table label {
	    color: green;
	    font-weight: 900;
	}
}

@media only screen and (max-width: 768px)
{
	.footer-body > div {
		width: 100% !important;
		margin: 0;
		margin-top: 2em;
	}

	.logo-header-none-user .logo img {
		height: 30em;
	}

	.item-group-home-user {
		height: 10rem;
	}

	.product-name h2 {
		width: 100%;
		white-space: unset;
	}

	.add-cart {
		height: 100%;
	    position: relative;
	    width: 3em;
	    display: flex;
	    justify-content: center;
	}

	.header-logo {
		width: 15em;
	}

	.body-content {
	    margin-top: 5em;
	}

	.footer-support {
	    height: 40rem;
	}

	.footer-content .logo {
		padding-top: 6em;
	}

	.footer-body {
		margin-top: 3rem;
	}

	.text-in-slide-for-none-user .explore-button .btn-explore {
		width: 10rem;
		height: 3em;
	}

	.panel-menu {
		width: 30%;
	}

	.body-content .categories {
		flex-wrap: wrap;
		padding-top: 3em;
    	padding-bottom: 0;
	}

	.categories .category-option {
		margin: 0;
		margin-right: 1em;
		margin-bottom: 1em;
		width: 45% !important;
	}

	.header-body .product-image {
	    height: 20em;
	    width: 80%;
	}

	.product-information .line {
	    background-color: #e7e7e7;
	    margin-top: 1em;
	    margin-bottom: 1em;
	}

	.single-product-content .header-product .header-body {
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}

	.header-body .product-information-group {
		margin-top: 5em;
		width: 100%;
	}

	.header-body .product-information-group .product-information {
		margin: 0;
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    margin-bottom: 2em;
	}

	.product-information h3 {
		margin-top: 0;
	}

	.product-information .more-info {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}

	.product-information-group .more-info-line-1 {
		margin-right: 1em;
	}

	.product-information-group .more-info-line-1,
	.product-information-group .more-info-line-2,
	.product-information-group .more-info-line-3 {
		margin-bottom: 1em;
	}

	.product-information-group .line {
		display: none;
	}

	.single-product-content .more-info > div:last-child {
	    width: 100%;
	    display: flex;
	    justify-content: center;
	}

	.product-information .auction-price {
		margin: 0;
		display: flex;
	}

	.product-information .auction-price h2 {
		margin-right: 1em;
	}

	.header-product .product-detail {
	    margin-top: 4em;
	    margin-bottom: 4em;
	}

	.vehicle-content > div {
		width: 15em;
	}

	.btn-favorite {
		display: none;
	}

	.header-body .product-information-group .action {
		width: 100%;
		height: 3em;
		display: flex;
	}

	.header-body .product-information-group .action > button:first-child {
		margin-right: 1em;
	}

	.header-body .product-information-group .action > button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100%;
		position: unset;
		border: 0;
		border-radius: 5px;
	}

	.header-body .product-information-group .action > button i {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header-body .product-information-group .action > button.btn-favorite {
	    background-color: #00bfa5;
    	color: #fff;
	}

	.header-body .product-information-group .action > button.btn-add-to-cart {
        background-color: #ee4d2d;
    	color: white;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info {
		display: flex;
		width: unset;
		margin: 0;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info .product-name,
	.view-cart .list-view-cart .cart-container-mobile .product-info .price,
	.view-cart .list-view-cart .cart-container-mobile .product-info .input-quantity {
		grid-area: unset;
		margin: 0;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info > div, 
	.view-cart .list-view-cart .cart-container-mobile .product-info > span {
		margin-bottom: .5em !important;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info .input-quantity,
	.view-cart .list-view-cart .cart-container-mobile .product-info .input-quantity span {
		margin-bottom: 0 !important;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info .input-quantity {
		width: 7em;
		height: 1.5em;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .ship-code {
	    width: 100%;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .order-body {
		display: flex;
	    align-items: center;
	    flex-direction: column;
	    justify-content: center;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .order-body .btn-order {
		margin-left: 0;
		margin-top: 1.5em;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .details {
	    grid-template-columns: 40% 60%;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item {
		flex-wrap: wrap;
		justify-content: center;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-info {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-info > div,
	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .total-prices {
		margin: 0 auto;
		margin-top: .5em;
	}

	.view-cart .list-view-cart-mobile .input-quantity {
		width: 30%;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-img {
		width: 40%;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-img img {
		width: 100%;
		height: 100%;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .checkbox {
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin: 1em;
	}

	.payment-details .payment-details {
		flex-direction: column;
		padding: 2em;
	}

	.payment-details .payment-details > div {
		margin: 0;
		padding: 0;
	}

	.payment-details .payment-details .product-img {
		width: 40%;
	}

	.payment-details .payment-details .payment-details-body {
		width: 100%;
	}

	section.payment-details .shipper-image {
	    width: 20em;
	}
	.login-form {
	    width: 70%;
	}
}

@media only screen and (max-width: 680px)
{
	.item-group-home-user__link {
		flex-direction: column;
	}

	.item-group-home-user__link .item-information {
		margin: 0;
		text-align: center;
		width: 100%;
    	justify-content: center;
	}

	.item-group-home-user__link .item-information > a {
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.item-group-home-user__link .item-information .more-info .group-info {
		display: flex;
	    width: 100%;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    margin: 3.5% 0;
	}

	.item-group-home-user {
		height: auto;
	}

	.item-group-home-user__link .product-name {
		word-spacing: 1px;
	    margin-bottom: unset;
	    margin-top: 3.5%;
	}

	.item-group-home-user__link .add-cart > div {
		display: none;
	}

	.home-for-none-user .item-group-home-user__link .add-cart > button {
		width: 100%;
	    height: 100%;
	    background-color: transparent;
	    border: 0;
	    cursor: pointer;
	    display: flex !important;
	    align-items: center;
	    justify-content: center;
	}

	.home-for-none-user .item-group-home-user__link .add-cart {
	    width: 100%;
	    height: 3rem;
	    border-radius: 10px;
	    overflow: hidden;
	    cursor: pointer;
	    background-color: #ffbe0094;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.text-in-slide-for-none-user {
	    margin: 0 1em;
	}

	.item-group-home-user {
		padding: 2em;
	}

	.text-conent {
		line-height: 20px;
	}

	.text-header {
		line-height: 40px;
	}

	.footer-bottom .design img {
		display: none;
	}

	.footer-bottom {
		flex-direction: column;
	}

	.footer-bottom .copyright {
		margin-right: 0;
	}

	.text-in-slide-for-none-user > .text-conent {
		margin-bottom: 5%;
	    margin-top: 5%;
	}

	.footer-bottom {
		height: 5em;
		padding: 2em 0;
	}

	.panel-menu {
		width: 40%;
	}

	.tab-options {
		flex-direction: column;
	}

	.tab-options .box-item {
		margin: 0;
		margin-bottom: 1em;
		width: 100%;
	}

	.tab-options .box-item:last-child {
		margin-bottom: 0;
	}

	:is(.item-group-home-user__link .add-cart) button.btn-favorite, button.btn-add-to-cart {
		display: flex;
	    width: 50%;
	    align-items: center;
	    justify-content: center;
	    height: 1.5em;
	    border: 0;
	    overflow: hidden;
	    background-color: transparent;
	    margin-bottom: 0;
	}

	:is(.item-group-home-user__link .add-cart) button.btn-favorite i, button.btn-add-to-cart i {
		width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.item-group-home-user__link button.btn-favorite i {
		background-color: #00bfa5;
		color: #fff;
	}

	.item-group-home-user__link  button.btn-add-to-cart i{
        background-color: #ee4d2d;
    	color: white;
	}

	.btn-add-to-cart {
		position: unset;
	}

	.add-cart {
		width: 100%;
	}

	.home-for-none-user .item-group-home-user__link button.btn-favorite i,
	.home-for-none-user .item-group-home-user__link button.btn-add-to-cart i
	{
		background-color: unset;
		color: unset;
	}

	.search-form {
	    width: 80%;
	}

	.logo-header {
		height: 15rem;
	}

	.search-content button {
		width: 30%;
	}

	.header-body .product-image {
		width: 80%;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-image {
		margin-right: 1em;
	}

	.view-cart .checkout .panel-checkout .total-price {
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-top: .5em;
	}

	.view-cart .checkout .panel-checkout form {
		margin-top: 1em;
	}

	.checkout-page .located .located-body .msg {
		display: none;
	}

	.checkout-page .located .located-body .msg-mobile {
		display: flex;
		display: flex;
    	align-items: center;
	}

	.checkout-page .located .located-body .msg-mobile .info-group {
		display: flex;
    	flex-direction: column;
	}

	.checkout-page .located .located-body .msg-mobile .info-group strong {
		margin-bottom: .5em;
	}

	.checkout-page .located .located-body .msg-mobile .info-group > span {
		margin-bottom: .5em;
	}

	.checkout-page .located .located-body .msg-mobile .change-default {
	    margin-left: auto;
	}

	.view-cart .list-view-cart-mobile .product-img {
		width: 30%;
	}

	.view-cart .list-view-cart-mobile .product-img img {
		width: 100%;
		height: 100%;
	}

	.view-cart .list-view-cart-mobile .view-container .box-item .product-item .product-info > div {
		margin-bottom: .5em;
	}

	.checkout-page .popup-change-address .panel-select {
		padding: 0 1em;
		width: 25em;
	}

	.checkout-page .product-mobile .checkout .product-item .product-img {
	    width: 6em;
	    height: 4em;
	}

	.checkout-page .product-mobile .checkout .product-item .col-totalprice {
		display: none;
	}

	.col-totalprice-mobile {
		display: block;
	}

	.order-result .order-details-body-mobile .content .box-item .product-img {
		width: 8em;
	}

	.footer-content .logo a {
	    width: 25%;
	}

	.login-form {
	    width: 80%;
	}

	.profile-container .col-right .manage .panel-body .footer-btn .cancel-btn {
		height: 2em;
	}
}

@media only screen and (max-width: 525px) {
	.footer-support {
	    height: 45rem;
	}

	.panel-menu {
		width: 50%;
	}

	.search-form {
	    width: 90%;
	}

	.search-content {
	    height: 4em;
	}

	.search-form {
		bottom: -2em;
	}

	.text-in-slide {
		margin: 0 1em;
	}

	.text-conent {
		margin-top: 0;
		padding-top: 0;
	}

	.about-panel .about-content > div {
		padding: 0 2em;
	}

	.column-right .group-2 {
		margin: 0 2em;
	}

	.person-info {
		flex-direction: column;
		margin: 0;
	}

	.person-info .content {
		margin-left: 0;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	}

	.about-panel .meet-team {
		text-align: center;
		margin-bottom: 1.5em;
	}

	.about-content .line {
		background-color: #80808024;
		margin: 2em 0;
		width: 100%;
	}

	.header-body .product-image {
		width: 100%;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .details {
		grid-row-gap: 0.5em;
	}

	.cart-container-mobile div.btn-delete {
		display: none;
	}

	.cart-container-mobile button.btn-delete-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		height: 100%;
	}

	.cart-container-mobile .line {
		margin-top: 1em;
	}

	.view-cart .cart-container-mobile .box-item  {
		display: flex;
	}

	.checkout-page .popup-change-address .panel-select .form-select .title-name {
		flex-wrap: wrap;
		height: auto;
	}

	.checkout-page .popup-change-address .panel-select .form-select .fullname,
	.checkout-page .popup-change-address .panel-select .form-select .phone-number,
	.checkout-page .popup-change-address .panel-select .form-select .update,
	.checkout-page .popup-change-address .panel-select .form-select .title-name .located-content {
		width: 100%;
		border: 0;
		margin-right: 0;
		padding-right: 0;
	}

	.checkout-page .popup-change-address .panel-select .form-select .update {
		position: relative;
		right: unset;
	}

	.checkout-page .popup-change-address .panel-select .form-select .title-name .located-content,
	.checkout-page .popup-change-address .panel-select .form-select .title-name .default-box {
		display: flex;
	}

	.checkout-page .popup-change-address .panel-select .form-select .located-content,
	.checkout-page .popup-change-address .panel-select .form-select .info-group > div:last-child {
		display: none;
	}

	.checkout-page .popup-change-address .panel-select .form-select .title-name > div {
		margin-bottom: .5em;
	}

	.checkout-page .popup-change-address .panel-select,
	.checkout-page .popup-add-address .panel-input {
		width: 15em;
	}

	.footer-content .logo a {
	    width: 35%;
	}

	.login-form {
	    width: 95%;
	}

	.profile-container .col-right .wishlist .panel-body .product-img {
		display: none;
	}

	.profile-container .col-right .wishlist .panel-body tr td .product-name {
		width: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    margin-left: auto;
	    text-overflow: ellipsis;
	}

	#order-management-admin_paginate a, #wishlist_paginate a {
		padding: .5em 1em;
	}

	.profile-container .col-right .manage .panel-body .header .view-details {
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-top: 1em;
	}

	.profile-container .col-right .manage .panel-body .header .total-price {
		margin: 0;
		margin-left: auto;
	}

	.admin tbody span.product-name .thumbnail {
		display: none;
	}

	.profile-container .col-right .manage .panel-body .order-info .item-body {
		flex-direction: column;
		justify-content: center;
	}

	.profile-container .col-right .manage .panel-body .order-info .item-body .prd-image {
		margin-bottom: 1em;
	}

	.profile-container .col-right .manage .panel-body .order-info .item-body .product-info {
		margin-left: 0;
		display: flex;
		margin-bottom: 1em;
	}

	.profile-container .col-right .manage .panel-body .order-info .item-body .product-price {
		margin-left: 0;
	}

	.profile-container .col-right .manage .panel-body .order-info .item-body .product-info .prd-quantity:before {
	    content: "\00a0 ";
	}
}

@media only screen and (max-width: 425px)
{
	.header-logo {
    	width: 10em;
	}

	.footer-content .logo a {
	    width: 30%;
	}

	.main-header {
		height: 5rem;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-image {
		width: 7em;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .option {
		flex-direction: column;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .option div:first-child {
		margin-right: 0;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .option > div {
		margin-bottom: 1em;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .option div:last-child {
		margin: 0;
	}

	.checkout-page .pay-method .pay-method-body .header i {
		display: none;
	}

	.checkout-page .product-mobile .checkout .product-item {
		flex-wrap: wrap;
		justify-content: center;
	}

	.checkout-page .product-mobile .checkout .product-item .product-img {
		width: 60%;
	    height: 5em;
	    border-radius: 15px;
	    overflow: hidden;
	}

	.checkout-page .product-mobile .checkout .product-item .product-info {
	    margin: 0;
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.checkout-page .product-mobile .checkout .product-item .product-info > div {
		width: 100%;
		text-align: center;
		margin-top: .5em;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .payment-inline {
		flex-wrap: wrap;
		justify-content: center;
	}

	.checkout-page .pay-method .pay-method-body .payment-method .payment {
		width: 100%;
		margin-bottom: 1em;
	}

	section.payment-details .shipper-image {
	    width: 15em;
	}

	.main-header .header-menu-right {
	    width: 5%;
	}

	.main-header {
	    height: 4rem;
	}

	.profile-container .col-right .wishlist .panel-body tr td .product-name {
		width: 70%;
	}

	.profile-container .col-right .manage .panel-body .header > div {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.profile-container .col-right .manage .panel-body .header .total-price {
		margin-top: 1em;
	}

	.profile-container .col-right .manage .panel-body .footer-btn {
		justify-content: center;
	}

	.comment .input-group .head-group {
		flex-direction: column;
	}

	.comment .input-group .head-group .rating {
		margin-left: 0;
		margin-top: .5em;
	}

	.comment .input-group .head-group {
		padding: 0;
	}

	.comment .user-info {
		flex-wrap: wrap;
	}

	.comment .msg-content .rate-result {
		width: 100%;
   	 	margin-left: 3.5rem;
	}
}

@media only screen and (max-width: 375px)
{
	.item-group-home-user__link .more-info-line-1 > div:first-child, 
	.item-group-home-user__link .more-info-line-1 > div:nth-child(2), 
	.item-group-home-user__link .more-info-line-2 > div:first-child, 
	.item-group-home-user__link .more-info-line-3 > div:first-child, 
	.item-group-home-user__link .more-info-line-3 > div:nth-child(2)
	{
		margin-right: 1.5em;
	}

	.item-group-home-user__link .item-information .more-info .group-info > div {
		flex-wrap: wrap;
		justify-content: center;
	}

	.item-group-home-user__link .item-information .more-info .group-info .more-info-line-2 .icon {
		margin-bottom: 0;
	}

	.item-group-home-user__link .item-information .more-info .group-info .more-info-line-2 .time  {
		margin: 0;
		margin-bottom: .5em;
	}

	.item-group-home-user__link .item-information .more-info .group-info .more-info-line-2 {
		align-items: center;
	}

	.product-information .content {
	    color: #f0b404;
	    font-weight: 600;
	    line-height: 20px;
	}

	.header-body .product-image {
	    height: 15em;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info .input-quantity {
	    width: 6em;
	    height: 1.2em;
	}

	.view-cart .checkout .panel-checkout .check-all {
		width: 100%;
	}
}

@media only screen and (max-width: 340px)
{
	.item-group-home-user__link .item-information .more-info .group-info .more-info-line-1 div:last-child {
		margin-top: .5em;
	}

	.view-cart .list-view-cart .cart-container-mobile .product-info,
	.view-cart .list-view-cart .cart-container-mobile .product-image {
		width: 50%;
	}
}

@media only screen and (max-width: 320px)
{
	.panel-menu {
		width: 50%;
	}

	.panel-menu {
		width: 60%;
	}
}